<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}SmartShop{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'purchase/css/bootstrap.css' %}"/>
    <script src="{% static 'purchase/js/jquery.js' %}"></script>
    <script src="{% static 'purchase/js/bootstrap.js' %}"></script>
    {% block script %}<script></script>{% endblock %}
    {% block style %}
    <style>
        .btn-circle {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
            display: inline-block
        }
        .bottom-rule{
				border-bottom: 1px solid lightgray;
		}

		footer{
				padding-top: 20px;
				border-top: 10px solid #332e20;
				background-color: white;
			}
		.footer-section {
			    margin-bottom: 20px;
			    padding-bottom: 20px;
			    border-bottom: 1px solid lightgray;
 			}
 		.monospaced { 
 				font-family: 'Ubuntu Mono', monospaced ; 
 			}
 		.leg-room { margin-bottom: 20px; padding-bottom: 20px; }
    </style>
    {% endblock %}
</head>
<body>


<nav class="navbar navbar-inverse">

    <div class="containe-fluid">
        
        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <a href="{% url 'purchase:index' %}">SmartShop</a>
            </div>
        </div>



        
        <div class="collapse navbar-collapse" id="topNavBar"> 
            <ul  class="nav navbar-nav">
                <li>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
                            <span class="small">Shop By</span><br>Category
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu">
                            <li><a href="{% url 'purchase:item' %}#c1">Books</a></li>
                            <li><a href="#">Mobile & Tablets</a></li>
                            <li><a href="{% url 'purchase:item' %}#c3">Computer & Accessories</a></li>
                            <li><a href="#">Home Utensils</a></li>
                            <li><a href="#">Sports, Fitness & Outdoors</a></li>
                            <li><a href="#">Clothing & Accessories</a></li>
                            <li><a href="#">Watches & Eyewears</a></li>
                            <li><a href="{% url 'purchase:item' %}#c8">Shoes</a></li>
                        </ul>
                    </div>
                    
                </li>
                
            </ul>
            <form class="navbar-form navbar-left" role="search" method="get" action="#">
                <div class="form-group">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" class="form-control" name="q" value=""> 
                </div>
                <button class="btn btn-default " type="submit">
                    <span class="glyphicon glyphicon-search"></span>&nbsp;Search
                </button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'purchase:cartdetails' %}">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;Your Cart
                            <span class="badge">{{user.cart_set.count}}</span>
                        </a>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button type="button" class="btn btn-default btn-circle dropdown-toggle" data-toggle="dropdown"
                                 style="margin-top:10px;">
                                <i class="glyphicon glyphicon-user"></i>
                            </button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                            
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'purchase:userprofile' %}">Hello, {{user.username}}</a>
                                <li>
                                <li><a href="{% url 'purchase:cartdetails' %}">
                                    Your Cart <span class="badge">{{user.cart_set.count}}</span></a></li>
                                <li><a href="{% url 'purchase:usersetting' %}">Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'purchase:logout' %}">Log Out</a></li>
                            </ul>
                        </div>
                    
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'purchase:register' %}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Sign-Up
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'purchase:login' %}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Sign-In
                        </a>
                    </li>
                {% endif %}
                
             </ul>
        </div>

        
    </div>
</nav>


{% block body %}
{% endblock %}


<br><br><br><br><br><br><br><br>
<footer class="navbar-default">
			<div class="container">
				<div class="row bottom rule">
					

					<div class="col-sm-4 footer-section">
						<strong>Connect with SmartShop</strong>
					    <p>Email promotions, news, and information</p>
					    <form class="form-inline">
					        <div class="form-group">
					            <label 
					                class="sr-only" 
					                for="inputEmail"
					            >Email</label>
					            <input
					                type="email"
					                class="form-control"
					                id="inputEmail"
					                placeholder="address@example.com"
					            >
					         </div>
					         <button type="submit" class="btn btn-default">Subscribe</button>
					     </form>
					</div>

					<div class="col-sm-5 footer-section">
					    <ul class="list-inline">
					        <li class="text-uppercase">Customer Service:</li>
					        <li><a href="#">Returns</a></li>
					        <li><a href="#">Privacy Policy</a></li>
					        <li><a href="#">Our Guarantee</a></li>
					        <li><a href="#">Shipping</a></li>
					        <li><a href="#">Product Guides</a></li>
					        <li><a href="#">Customer Care</a></li>
					    </ul>
					    <ul class="list-inline">
					        <li class="text-uppercase">Social Media &amp; Articles:</li>
					        <li><a href="#">Instagram</a></li>
					        <li><a href="#">Pinterest</a></li>
					        <li><a href="#">Twitter</a></li>
					        <li><a href="#">Facebook</a></li>
					        <li><a href="#">The Best Journal</a></li>
					    </ul>
					    <ul class="list-inline">
					        <li class="text-uppercase">Events:</li>
					        <li><a href="#">Hangout April 30</a></li>
					        <li><a href="#">Makers Faire</a></li>
					    </ul>
					</div>

					<div class="col-sm-3">
					    <address>
					        <strong>SmartShop</strong><br>
					        1000 Some Fantastic Place<br>
					        San Francisco, CA 94103<br>
					        (123) 456-7890 (phone &amp; text)<br>
					        <a href="#">Contact Us</a>
					    </address>
					</div>


				</div>

				<div class="row bottom-rule">
				    <div class="col-sm-12 ">
				        <nav class="navbar navbar-default navbar-footer">
				            <ul class="nav navbar-nav">
				                <li><a href="#">Customer Care</a></li>
				                <li><a href="#">Summer Lookbook</a></li>
				                <li><a href="#">Gift Cards</a></li>
				                <li><a href="#">About SmartShop</a></li>
				                <li><a href="#">Careers</a></li>
				                <li><a href="#">Contact Us</a></li>
				                <li><a href="#">The Best Journal</a></li>
				            </ul>
				        </nav>
				    </div>

				    <div class="row leg-room">
					    <div class="col-md-12 text-center">
					        <h1 class="text-uppercase">SmartShop</h1>
					        <p class="monospaced">
					            &copy;2016 SmartShop Company Inc. 
					            <span class="text-uppercase">All Rights Reserved</span></p>
					    </div>
					</div>
				</div>
				
			</div>
		</footer>


</body>
</html>