{% extends 'purchase/base.html' %}
{% block title %}Login{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
 

            
            <div class="col-md-6">
                <div class="panel panle-default">



                    <div class="panel-body">
                        <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'purchase/login_template.html' %}
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-10">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>



                </div>
            </div>
            


        </div>
    </div>

{% endblock %}