{% extends 'purchase/base.html' %}
{% block titile %}Your Profile{% endblock %}

{% block body %}

	<div class="container">

		<div class="page-header">
			<h2 style="font-family: fantasy; color: maroon;">Change Settings</h2>
		</div>
		

		<div class="col-md-4">
			<ol class="list-group">
				<li class="list-group-item">
					<a href="">Change Username</a>
				</li>
				<li class="list-group-item">
					<a href="">Change Email-Address</a>
				</li>
				<li class="list-group-item">
					<a href="">Change Password</a>
				</li>
				<li class="list-group-item">
					<a href="">Change Profile Picture</a>
				</li>
				<li class="list-group-item">
					<a href="">Change Address</a>
				</li>
				<li class="list-group-item">
					<a href="">Add Another Address</a>
				</li>
				<li class="list-group-item">
					<a href="">Change Phone Number</a>
				</li>
				<li class="list-group-item">
					<a href="">Add Another Number</a>
				</li>
			</ol>
		</div>
		

	</div>


{% endblock %} 
